<!DOCTYPE html>
<html lang="en">
<head dir="rtl" lang="fa">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>words similarity</title>
</head>
  <div class="table-striped">
    <table class="table">
      <thead>
    <tr>
      <th>#</th>
      <th>کلمه</th>
    </tr>
  </thead>
      <tbody>
      {%for word, dist in similar_words%}
        <tr>
          <td>{{ forloop.counter0 }}</td>
          <td>{{word}}</td>
        </tr>
      {%endfor%}
  </tbody>
    </table>
  </div>

</body>
</html>